.flex {
  display: flex;
}
.action {
  width: 100%;
  margin: 20px 0;
  .drag {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dddddd;
    #graph {
      flex: 1;
      height: 800px;
    }
    #module {
      flex: 0 0 280px;
      .x6-widget-stencil {
        position: inherit;
        &::after {
          display: none;
        }
        .x6-widget-stencil-content {
          position: inherit;
        }
      }
    }
  }
  .buttons {
    margin: 10px;
    text-align: right;
  }
}

.comDra {
  .buttons {
    margin: 10px 0;
    text-align: right;
  }
  .line {
    margin: 5px 0;
  }
  .name {
    line-height: 32px;
    margin-bottom: 3px;
  }
  .triggerItem {
    margin: 8px 0;
  }
}
