name: Get version from package.json

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Read package.json
        uses: dutscher/read-package-json-endpoint-actions@v1.33.7
        id: package-json-endpoint
        run: npm i @actions/core -D

      - name: Show version number
        run: echo "${{ steps.package-json-endpoint.outputs.endpoint }}"
